--
-- PostgreSQL database dump
--

\restrict cDUrfrQlBq8W5F78TCbtu0Af52RepyuijsHGIYa4Baeeei2InSyZjuardf8g7cL

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.role_in_event DROP CONSTRAINT IF EXISTS role_in_event_event_id_fkey;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_event_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_profiles DROP CONSTRAINT IF EXISTS fk_user_auth;
ALTER TABLE IF EXISTS ONLY public.event_registration DROP CONSTRAINT IF EXISTS fk_registration_user;
ALTER TABLE IF EXISTS ONLY public.event_registration DROP CONSTRAINT IF EXISTS fk_registration_event;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS fk_posts_user_profiles;
ALTER TABLE IF EXISTS ONLY public.likes DROP CONSTRAINT IF EXISTS fk_likes_user_profiles;
ALTER TABLE IF EXISTS ONLY public.events DROP CONSTRAINT IF EXISTS fk_events_user_profiles;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS fk_comments_user_profiles;
ALTER TABLE IF EXISTS ONLY public.role_in_event DROP CONSTRAINT IF EXISTS fk5ikt6w2lkqjasjtwhj638djgi;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_post_id_fkey;
DROP INDEX IF EXISTS public.idx_user_event;
ALTER TABLE IF EXISTS ONLY public.user_profiles DROP CONSTRAINT IF EXISTS user_profiles_username_unique;
ALTER TABLE IF EXISTS ONLY public.user_profiles DROP CONSTRAINT IF EXISTS user_profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.user_auth DROP CONSTRAINT IF EXISTS user_auth_pkey;
ALTER TABLE IF EXISTS ONLY public.user_auth DROP CONSTRAINT IF EXISTS user_auth_email_key;
ALTER TABLE IF EXISTS ONLY public.event_registration DROP CONSTRAINT IF EXISTS unique_user_event;
ALTER TABLE IF EXISTS ONLY public.user_auth DROP CONSTRAINT IF EXISTS uniq_email;
ALTER TABLE IF EXISTS ONLY public.role_in_event DROP CONSTRAINT IF EXISTS ukrhap0m4gtbixvvoe16i1gt5mb;
ALTER TABLE IF EXISTS ONLY public.role_in_event DROP CONSTRAINT IF EXISTS role_in_event_user_profile_id_event_id_key;
ALTER TABLE IF EXISTS ONLY public.role_in_event DROP CONSTRAINT IF EXISTS role_in_event_pkey;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_pkey;
ALTER TABLE IF EXISTS ONLY public.likes DROP CONSTRAINT IF EXISTS likes_pkey;
ALTER TABLE IF EXISTS ONLY public.events DROP CONSTRAINT IF EXISTS events_pkey;
ALTER TABLE IF EXISTS ONLY public.event_registration DROP CONSTRAINT IF EXISTS event_registration_pkey;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_pkey;
ALTER TABLE IF EXISTS ONLY public.blood_donation DROP CONSTRAINT IF EXISTS blood_donation_pkey;
ALTER TABLE IF EXISTS public.blood_donation ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.user_profiles;
DROP TABLE IF EXISTS public.user_auth;
DROP TABLE IF EXISTS public.role_in_event;
DROP TABLE IF EXISTS public.posts;
DROP TABLE IF EXISTS public.likes;
DROP TABLE IF EXISTS public.events;
DROP TABLE IF EXISTS public.event_registration;
DROP TABLE IF EXISTS public.comments;
DROP SEQUENCE IF EXISTS public.blood_donation_id_seq;
DROP TABLE IF EXISTS public.blood_donation;
DROP TYPE IF EXISTS public.enum_users_role;
DROP TYPE IF EXISTS public."enum_users_bloodType";
--
-- Name: enum_users_bloodType; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."enum_users_bloodType" AS ENUM (
    'O+',
    'O-',
    'A+',
    'A-',
    'B+',
    'B-',
    'AB+',
    'AB-'
);


ALTER TYPE public."enum_users_bloodType" OWNER TO admin;

--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.enum_users_role AS ENUM (
    'volunteer',
    'manager',
    'admin',
    'USER',
    'EVENT_MANAGER',
    'ADMIN'
);


ALTER TYPE public.enum_users_role OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: blood_donation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.blood_donation (
    id bigint NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone_number character varying(20) NOT NULL,
    blood_type character varying(10) NOT NULL,
    medical_history text,
    desired_date date NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(50) DEFAULT 'PENDING'::character varying
);


ALTER TABLE public.blood_donation OWNER TO admin;

--
-- Name: blood_donation_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.blood_donation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.blood_donation_id_seq OWNER TO admin;

--
-- Name: blood_donation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.blood_donation_id_seq OWNED BY public.blood_donation.id;


--
-- Name: comments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.comments (
    comment_id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    post_id bigint,
    metadata jsonb
);


ALTER TABLE public.comments OWNER TO admin;

--
-- Name: event_registration; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.event_registration (
    registration_id bigint NOT NULL,
    event_id bigint NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.event_registration OWNER TO admin;

--
-- Name: events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.events (
    event_id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    event_description text,
    event_location text,
    event_name character varying(200) NOT NULL,
    event_state character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    metadata jsonb,
    image_url character varying(500),
    end_at timestamp without time zone,
    start_time timestamp(6) without time zone
);


ALTER TABLE public.events OWNER TO admin;

--
-- Name: likes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.likes (
    like_id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    target_type character varying(255),
    target_id bigint,
    created_by uuid,
    CONSTRAINT likes_target_type_check CHECK (((target_type)::text = ANY (ARRAY[('COMMENT'::character varying)::text, ('POST'::character varying)::text, ('EVENT'::character varying)::text, ('LIKE'::character varying)::text])))
);


ALTER TABLE public.likes OWNER TO admin;

--
-- Name: posts; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.posts (
    post_id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    event_id bigint,
    metadata jsonb,
    image_url character varying(255),
    title character varying(255)
);


ALTER TABLE public.posts OWNER TO admin;

--
-- Name: role_in_event; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.role_in_event (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    event_role character varying(255),
    updated_at timestamp(6) without time zone,
    event_id bigint,
    user_profile_id uuid,
    participation_status character varying(255)
);


ALTER TABLE public.role_in_event OWNER TO admin;

--
-- Name: user_auth; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_auth (
    user_id uuid NOT NULL,
    email character varying(100) NOT NULL,
    email_verified boolean NOT NULL,
    password_hash text NOT NULL,
    role character varying(30) NOT NULL,
    status character varying(30) NOT NULL,
    CONSTRAINT user_auth_role_check CHECK (((role)::text = ANY (ARRAY[('USER'::character varying)::text, ('EVENT_MANAGER'::character varying)::text, ('ADMIN'::character varying)::text]))),
    CONSTRAINT user_auth_status_check CHECK (((status)::text = ANY (ARRAY[('ACTIVE'::character varying)::text, ('DISABLED'::character varying)::text, ('LOCKED'::character varying)::text])))
);


ALTER TABLE public.user_auth OWNER TO admin;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_profiles (
    user_id uuid NOT NULL,
    full_name character varying(100),
    bio text,
    phone_number character varying(255),
    address character varying(255),
    avatar_url character varying(255),
    date_of_birth date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email character varying(100),
    username character varying(100) NOT NULL,
    status character varying(255) NOT NULL
);


ALTER TABLE public.user_profiles OWNER TO admin;

--
-- Name: blood_donation id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.blood_donation ALTER COLUMN id SET DEFAULT nextval('public.blood_donation_id_seq'::regclass);


--
-- Data for Name: blood_donation; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.comments (comment_id, content, created_at, updated_at, created_by, post_id, metadata) FROM stdin;
789109668889755648	oke	2025-12-17 19:40:06.020335	2025-12-17 19:40:06.020335	d4e5f6a7-b8c9-0123-def0-4567890123cd	789093190132039680	\N
\.


--
-- Data for Name: event_registration; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: likes; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: role_in_event; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.role_in_event (id, created_at, event_role, updated_at, event_id, user_profile_id, participation_status) FROM stdin;
\.


--
-- Data for Name: user_auth; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: blood_donation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.blood_donation_id_seq', 24, true);


--
-- Name: blood_donation blood_donation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.blood_donation
    ADD CONSTRAINT blood_donation_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (comment_id);


--
-- Name: event_registration event_registration_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.event_registration
    ADD CONSTRAINT event_registration_pkey PRIMARY KEY (registration_id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (event_id);


--
-- Name: likes likes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.likes
    ADD CONSTRAINT likes_pkey PRIMARY KEY (like_id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (post_id);


--
-- Name: role_in_event role_in_event_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role_in_event
    ADD CONSTRAINT role_in_event_pkey PRIMARY KEY (id);


--
-- Name: role_in_event role_in_event_user_profile_id_event_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role_in_event
    ADD CONSTRAINT role_in_event_user_profile_id_event_id_key UNIQUE (user_profile_id, event_id);


--
-- Name: role_in_event ukrhap0m4gtbixvvoe16i1gt5mb; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role_in_event
    ADD CONSTRAINT ukrhap0m4gtbixvvoe16i1gt5mb UNIQUE (user_profile_id, event_id);


--
-- Name: user_auth uniq_email; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_auth
    ADD CONSTRAINT uniq_email UNIQUE (email);


--
-- Name: event_registration unique_user_event; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.event_registration
    ADD CONSTRAINT unique_user_event UNIQUE (user_id, event_id);


--
-- Name: user_auth user_auth_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_auth
    ADD CONSTRAINT user_auth_email_key UNIQUE (email);


--
-- Name: user_auth user_auth_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_auth
    ADD CONSTRAINT user_auth_pkey PRIMARY KEY (user_id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: user_profiles user_profiles_username_unique; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_username_unique UNIQUE (username);


--
-- Name: idx_user_event; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_event ON public.event_registration USING btree (user_id, event_id);


--
-- Name: comments comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(post_id);


--
-- Name: role_in_event fk5ikt6w2lkqjasjtwhj638djgi; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role_in_event
    ADD CONSTRAINT fk5ikt6w2lkqjasjtwhj638djgi FOREIGN KEY (user_profile_id) REFERENCES public.user_profiles(user_id);


--
-- Name: comments fk_comments_user_profiles; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk_comments_user_profiles FOREIGN KEY (created_by) REFERENCES public.user_profiles(user_id);


--
-- Name: events fk_events_user_profiles; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT fk_events_user_profiles FOREIGN KEY (created_by) REFERENCES public.user_profiles(user_id);


--
-- Name: likes fk_likes_user_profiles; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.likes
    ADD CONSTRAINT fk_likes_user_profiles FOREIGN KEY (created_by) REFERENCES public.user_profiles(user_id);


--
-- Name: posts fk_posts_user_profiles; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT fk_posts_user_profiles FOREIGN KEY (created_by) REFERENCES public.user_profiles(user_id);


--
-- Name: event_registration fk_registration_event; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.event_registration
    ADD CONSTRAINT fk_registration_event FOREIGN KEY (event_id) REFERENCES public.events(event_id) ON DELETE CASCADE;


--
-- Name: event_registration fk_registration_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.event_registration
    ADD CONSTRAINT fk_registration_user FOREIGN KEY (user_id) REFERENCES public.user_profiles(user_id) ON DELETE CASCADE;


--
-- Name: user_profiles fk_user_auth; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT fk_user_auth FOREIGN KEY (user_id) REFERENCES public.user_auth(user_id) ON DELETE CASCADE;


--
-- Name: posts posts_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(event_id);


--
-- Name: role_in_event role_in_event_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role_in_event
    ADD CONSTRAINT role_in_event_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(event_id);


--
-- PostgreSQL database dump complete
--

\unrestrict cDUrfrQlBq8W5F78TCbtu0Af52RepyuijsHGIYa4Baeeei2InSyZjuardf8g7cL

